﻿@model List<HTLBuy.Models.Artikel>
@using HTLBuy.Models

@{
    ViewBag.Title = "liste";
}

<h2>Artikelliste</h2>
<table width="100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Preis</th>
        <th>Beschreibung</th>
    </tr>
    @foreach (Artikel a in Model) {
        <tr>
            <td width="7%">@a.ID</td>
            <td><a href="@Url.Action("ShowArtikel/"+@a.ID, "Shop")"> @a.Name </a></td>
            <td width="12%">@a.Preis €</td>
            <td>@a.Beschreibung</td>
        </tr>
    }
</table>