﻿@model HTLBuy.Models.Message

@{
    ViewBag.Title = "Message";
}

@if (Model != null) {
    <h1>@Model.Header</h1>
    if (Model.AdditionalHeader?.Trim() != "") {
        <h3>@Model.AdditionalHeader</h3>
    }
    <p>
        @Model.MessageText
    </p>
    if (Model.Solution?.Trim() != "") {
        <h3>Lösung</h3>
        @Model.Solution
    }
}

