﻿<ul>
    <li class="level_1">@Html.ActionLink("Home", "Index", "Home")</li>
    @if ((Session["isLoggedIn"] == null) || (Convert.ToBoolean(Session["isLoggedIn"]) == false))
    {
        <li class="level_2">@Html.ActionLink("Login", "Login", "User")</li>
    }
    @if ((Session["isLoggedIn"] == null) || (Convert.ToBoolean(Session["isLoggedIn"]) == false))
    {
        <li class="level_2">@Html.ActionLink("Register", "Register", "User")</li>
    }
    @if (Convert.ToBoolean(Session["isLoggedIn"]) == true)
    {
        <li class="level_2">@Html.ActionLink("Logout (" + (String)Session["Username"] + ")", "Logout", "User")</li>
    }
    @if ((Convert.ToString(Session["Username"]) == "admin") || (Convert.ToString(Session["Username"]) == "Ramagos") || (Convert.ToString(Session["Username"]) == "GameSchaedl")) {
    <li class="level_2">@Html.ActionLink("Userliste", "RegisteredUser", "User")</li>
    }

    @if (Convert.ToBoolean(Session["isLoggedIn"]) == true)
    {
        <li class="level_1">@Html.ActionLink("Mein Account", "Index", "Home")</li>
        <li class="level_2">@Html.ActionLink("Mein Warenkorb", "Warenkorb", "User")</li>
        <li class="level_2">@Html.ActionLink("Meine Artikel", "Myartikel", "User")</li>
    }
    <li class="level_1">@Html.ActionLink("Impressum", "Impressum", "Home")</li>
    <li class="level_1">@Html.ActionLink("Shop", "Shop", "Home")</li>
    @if (Convert.ToBoolean(Session["isLoggedIn"]) == true)
    {
        <li class="level_2">@Html.ActionLink("Artikel hinzufügen", "CreateArticle", "Shop")</li>
    }
    <li class="level_2">@Html.ActionLink("Artikelliste", "Liste", "Shop")</li>
    <li class="level_2">@Html.ActionLink("Artikel suchen", "Search", "Shop")</li>
    <li class="level_1">@Html.ActionLink("Über uns", "Aboutus", "Home")</li>
</ul>
