﻿
@{
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>

<div class="elementor-alert elementor-alert-danger" role="alert">
    <span class="elementor-alert-description">
        @Html.ValidationSummary()
    </span>
</div>
