﻿@model Auktionen.Models.Auction
@{
    ViewBag.Title = "AuctionData";
}

<h2>AuctionData</h2>

@using (Html.BeginForm())
{
    <table>
        
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(a => a.ID, "ID")
                </td>
                <td>
                    @Html.EditorFor(a => a.ID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Image, "Image")
                </td>
                <td>
                    @Html.EditorFor(a => a.Image)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.TextBoxFor(a => a.Name, "Name")
                </td>
                <td>
                    @Html.EditorFor(a => a.Name)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(a => a.Description, "Description")
                </td>
                <td>
                    @Html.EditorFor(a => a.Description)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(a => a.Categories, "Categories")
                </td>
                <td>
                    @Html.EditorFor(a => a.Categories)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(a => a.AuctionOwner, "AuctionOwner")
                </td>
                <td>
                    @Html.EditorFor(a => a.AuctionOwner)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(a => a.HighestBidder, "HighestBidder")
                </td>
                <td>
                    @Html.EditorFor(a => a.HighestBidder)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(a => a.StartDate, "StartDate")
                </td>
                <td>
                    @Html.EditorFor(a => a.StartDate)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(a => a.EndDate, "EndDate")
                </td>
                <td>
                    @Html.EditorFor(a => a.EndDate)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(a => a.Price, "Price")
                </td>
                <td>
                    @Html.EditorFor(a => a.Price)
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    <input type="submit" value="Absenden" />
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
}

