﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <body>
        <div id="MainContainer">
            <header>
                <img src="~/Content/Images/HTLBuy.png" style="height:80%;" />
                <img src="~/Content/Images/nyan.gif" style="height:100%;" />
            </header>
            <main>
                <nav>
                    @Html.Partial("Navigation")
                </nav>
                <content>
                    @RenderBody()
                </content>
                <aside>
                    Seitenbereich
                </aside>
            </main>
            <footer>
                @Html.Partial("Footer")
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
