﻿@{
    ViewBag.Title = "AboutUs";
}

<h2>About Us</h2>
Wir sind ein Team von sehr kompetenten HTLern, welche einen 1er verdient haben :D </br>
<img src="~/Content/Images/rainbowpuke.gif" style="height:60%;" />