﻿@model HTLBuy.Models.User
@using HTLBuy.Models
@using HTLBuy.Models.db
@{
    ViewBag.Title = "EditUser";
}

<h2>Edit User</h2>
<form action="@Url.Action("DeleteUser/"+Model.Id, "User")">
    <input type="submit" value="Delete" />
</form>

@using (Html.BeginForm()) {
    <table>
        <thead>
            <tr>
                <td colspan="2">
                    <div class="elementor-alert elementor-alert-danger" role="alert">
                        <span class="elementor-alert-description">
                            @Html.ValidationSummary()
                        </span>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Username, "Username")
                </td>
                <td>
                    @Html.EditorFor(a => a.Username)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.EMail, "E-Mail")
                </td>
                <td>
                    @Html.TextBoxFor(a => a.EMail, new { @type = "email" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.GebTag, "Geburtsdatum")
                </td>
                <td>
                    @Html.TextBoxFor(a => a.GebTag, new { @type = "date", @Value = Model.GebTag.ToString("yyyy-MM-dd") })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Absenden" />
                    <input type="reset" value="Abbrechen" />
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
}
