﻿@model HTLBuy.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm()) {
    <table>
        <thead>
            <tr>
                <td colspan="2">
                    <div class="elementor-alert elementor-alert-danger" role="alert">
                        <span class="elementor-alert-description">
                            @Html.ValidationSummary()
                        </span>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Username, "Username")
                </td>
                <td>
                    @Html.EditorFor(a => a.Username)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Passwort, "Passwort")
                </td>
                <td>
                    @Html.PasswordFor(a => a.Passwort)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Absenden" />
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
}