﻿@model List<HTLBuy.Models.User>
@using HTLBuy.Models

@{
    ViewBag.Title = "User";
}

<h2>User</h2>
@if ((Convert.ToString(Session["Username"]) == "admin") || (Convert.ToString(Session["Username"]) == "Ramagos")) {
    <table width="100%">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>E-Mail</th>
            <th>Geburtstag</th>
        </tr>
        @foreach (User u in Model) {
            <tr>
                <td width="10%">@u.Id</td>
                <td><a href="@Url.Action("EditUser/" + @u.Username, "User")"> @u.Username </a></td>
                <td>@u.EMail</td>
                <td>@u.GebTag.ToShortDateString()</td>
            </tr>
        }
    </table>
} else {
    <h4>Sie haben keine Berechtigung auf diese Zeite zuzugreifen</h4>
}