﻿@model HTLBuy.Models.ViewModels.CreateArticleViewModel
@*strongly typed view erzeugen*@
@{
    ViewBag.Title = "CreateArticle";
}

<h2>Artikel hinzufügen</h2>

@using (Html.BeginForm()) {
    <table>
        <thead>
            <tr>
                <td colspan="2">
                    <div class="elementor-alert elementor-alert-danger" role="alert">
                        <span class="elementor-alert-description">
                            @Html.ValidationSummary()
                        </span>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Artikel.Name, "Artikelname")
                </td>
                <td>
                    @Html.EditorFor(a => a.Artikel.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Artikel.Beschreibung, "Beschreibung")
                </td>
                <td>
                    @Html.TextAreaFor(a => a.Artikel.Beschreibung)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Artikel.Preis, "Preis")
                </td>
                <td>
                    @Html.EditorFor(a => a.Artikel.Preis)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Artikel.Groesse, "Größe")
                </td>
                <td>
                    @Html.DropDownListFor(a => a.Artikel.Groesse, new SelectList(Model.Groesse))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Artikel.Kategorie, "Kategorie")
                </td>
                <td>
                    @Html.ListBoxFor(a => a.Artikel.Kategorie, new SelectList(Model.Kategorien))
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Absenden" />
                    <input type="reset" value="Abbrechen" />
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
}