﻿@model HTLBuy.Models.ViewModels.SearchViewModel
@*strongly typed view erzeugen*@
@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm()) {
    <table>
        <thead>
            <tr>
                <td colspan="2">
                    <div class="elementor-alert elementor-alert-danger" role="alert">
                        <span class="elementor-alert-description">
                            @Html.ValidationSummary()
                        </span>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Name, "Artikel")
                </td>
                <td>
                    @Html.EditorFor(m => m.Name)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Absenden" />
                    <input type="reset" value="Abbrechen" />
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
}