﻿@model HTLBuy.Models.Artikel
@using HTLBuy.Models
@using HTLBuy.Models.db
@{
    ViewBag.Title = "ShowArtikel";
}
<h2>
    @Model.Name <font size="2">- @Model.Preis €</font>
</h2>

<p>@Model.Beschreibung</p>

<form action="@Url.Action("ArtikelInWarenkorb/"+Model.ID, "Shop")">
    <input type="submit" value="In den Warenkorb" />
</form>